html {
  scroll-behavior: smooth;
}
.hero-wrapper {
  display: flex;
  flex-direction: column;
}
.hero {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  text-align: center;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(0, 0, 0, 0.911);
  color: rgba(255, 255, 255, 0.87);
}
.nav-wrapper {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(255, 255, 255, 0);
  z-index: 1;
  flex-wrap: wrap;
}

.top-nav a {
  color: rgba(255, 255, 255, 0.87);
  text-decoration: none;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 16px;
}
.top-nav a:hover {
  color: rgb(101, 101, 255);
}

svg:hover {
  fill: rgb(101, 101, 255);
}
.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 99vh;
  width: 100%;
}
.hero h1 {
  display: flex;
  margin-bottom: 250px;
}
.titlePage-container {
  color: white;
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
  justify-content: center;
  z-index: -1;
}
.titleline {
  margin-top: 0.4em;
  width: 20%;
}
.about {
  background-color: rgb(2, 82, 156);
  margin-left: auto;
  margin-right: auto;
  display: block;
  flex-direction: column;
  width: 70%;
}
.projects {
  background-color: rgb(2, 82, 156);
  margin-left: auto;
  margin-right: auto;
  display: block;
  flex-direction: column;
  width: 70%;
}

.resume {
  background-color: rgb(2, 82, 156);
  margin-left: auto;
  margin-right: auto;
  display: block;
  flex-direction: column;
  width: 70%;
}
.contactMe {
  background-color: rgb(2, 82, 156);
  margin-left: auto;
  margin-right: auto;
  display: block;
  flex-direction: column;
  width: 70%;
  margin-top: 2%;
}
.section-heading {
  font-size: 42px;
  padding-top: 2.4%;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
  font-weight: 600;
  box-shadow: 0px 2px;
  margin-left: 25%;
  margin-right: 25%;
}
.profile {
  border-radius: 50%;
}
.aboutme-blurb {
  font-size: 1.3rem;
  width: 500px;
  line-height: 1.8;
}
.aboutme-wrapper {
  margin: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: rgba(255, 255, 255, 0.123);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.aboutme-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skills {
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}
.skills__row {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skills__item {
  min-width: 64px;
  min-height: 64px;
  max-width: 64px;
  max-height: 64px;
  background-color: rgba(0, 0, 0, 0.473);
  border-radius: 10px;
  padding: 7%;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  transition: transform 0.2s;
  border: 2px solid #36f4e4b0;
}
.skills__item:hover {
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  background-color: rgba(0, 0, 0, 0.664);
}

.skills__item-name {
  font-size: 1.2rem;
  line-height: 1;
  letter-spacing: 1px;
  transition: all 0.2s;
  text-align: center;
  position: relative;
}

/* ANIMATIONS */
.slideFromLeft {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  filter: blur(0);
  transform: translateX(0);
  opacity: 1;
}
/* ANIMATIONS END */

/* PROJECT SECTION */
.projectexample {
  background-color: teal;
  margin: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
}
.projectexample > h1 {
  display: flex;
  justify-content: center;
}
.button {
  background-color: #04aa6d; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button1 {
  background-color: #f44336;
  color: white;
  border: 2px solid #f44336;
}
.button1:hover {
  background-color: #fff;
  color: black;
  border: 2px solid #f44336;
}
a:hover {
  color: white;
}
a:active {
  color: yellow;
}
.projects-content-left {
  display: flex;
  align-items: center;
  margin-right: 2%;
}
.projects-content-right {
  display: flex;
  align-items: center;
  margin-left: 2%;
}
.projects-content-blurb {
  margin: 2%;
}
.projects-content-blurb > h2 {
  text-align: right;
}
.project_image {
  max-width: 50%;
  max-height: auto;
  padding-right: 2%;
  padding-left: 2%;
}
/* PROJECT SECTION END */

.contactMe-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contactMe__form {
  display: flex;
  flex-direction: column;
  min-width: 60%;

  min-height: 20%;
  justify-content: space-between;
  padding-top: 2%;
  padding-bottom: 5%;
}
.contactMe__form-name {
  margin-bottom: 2%;
}
.contactMe__form-email {
  margin-bottom: 2%;
}
/* RESUME */
#resume {
  padding-bottom: 2%;
}

.resume-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: darkcyan;
}
a {
  text-decoration: none;
}
a > img {
  border-radius: 2%;
}
.img__wrapper {
  transition: transform 0.2s;
}
.img__wrapper:hover {
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.img__wrapper:hover .img__desc {
  visibility: visible;
  opacity: 1;
}
.img__desc {
  position: relative;
  margin-top: -10%;
  text-align: center;
  border-radius: 2%;
  background: rgba(0, 0, 0, 0.708);
  color: #fff;
  visibility: hidden;
  opacity: 0;
}
/* RESUME END */

/* FOOTER */
footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
}
.backtotop {
  color: rgba(0, 0, 0, 0.87);
  font-weight: 600;
}
/* FOOTER END  */
